<mat-card class="card1">
  <form class="frm" [formGroup]="ProductGroup">
    <div class="div1">Add Products
    </div><br><br>
    
    <input type="hidden" formControlName ="idCtrl">
    <mat-form-field appearance="fill">
        <mat-label>Product Name</mat-label>
        <input matInput formControlName = "nameCtrl">
      </mat-form-field><br><br>
     <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName ="desCtrl"></textarea>
      </mat-form-field><br>
      <div class = "col-md-6 , div2">
        <mat-form-field>
            <input matInput [matDatepicker] = "createdDateTime" placeholder = "Manufacture Data" formControlName ="dateCtrl">
            <mat-datepicker-toggle matSuffix [for]="createdDateTime"></mat-datepicker-toggle>
            <mat-datepicker #createdDateTime></mat-datepicker>
        </mat-form-field>
    </div>
    <button class="btn" mat-stroked-button color="warn" (click) ="save()">Save</button>

  </form> 
      
</mat-card>

